body {
    background-color: black;
}

.wrapper {
    top: 50%;
    left: 50%;
    position: absolute;
}

img {
    width: 100px;
    height: 100px;
}

.wrapper:hover {
    transform: rotate(360deg);
    transition: 2s;
    background-color: aliceblue;
}